body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  background-color: #292343;
}

.titulos-h2-blancos {
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 30px;
}

.texto-blanco {
  font-size: 19px;
  line-height: 1.375em;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 30px;
}

.texto-oscuro {
  font-size: 19px;
  line-height: 1.375em;
  color: rgb(15, 15, 15);
  font-weight: 400;
  margin-bottom: 30px;
}
.section-style {
  background-image: linear-gradient(to bottom, rgb(2, 2, 2), rgb(15, 9, 43));
  color: #ffffff;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
}

.container-fluid {
  padding: 60px 50px;
}

.bg-grey {
  background-color: #f6f6f6;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
  color: rgb(244, 81, 30);
  margin-bottom: 50px;
  margin-left: 30px 30px;
}

.carousel-indicators li {
  display: none;
}

.carousel-indicators li.active {
  display: none;
}

.item span {
  font-style: normal;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

/* Imágenes */
.section-personalizado {
  display: flex;
  width: 600px;
  height: 430px;
}

.section-img {
  width: 0px;
  height: 490px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.05 ease;
}

.section img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(1);
}

/* Avatar de quienes somos */
.borderquienessomos {
  border: rgb(153, 92, 51) solid 3px;
}

.quienesSomos {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  margin: 10% auto;
  border: auto;
  padding: 7px 0px;
  object-fit: cover;
}

.nosotros {
  padding-top: 3%;
  padding-bottom: 5%;
}

.sombreado {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

/* Media queries para ser responsive */
@media (max-width: 280px){
  .ocultar {
    display: none;
  }
} 
@media (max-width: 767px) {
  .section-personalizado {
    display: flex;
    width: auto;
    height: auto;
  }

  .section-img {
    width: 0px;
    height: 430px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.05 ease;
  }

  .section img:hover {
    cursor: crosshair;
    width: 150px;
    opacity: 1;
    filter: contrast(1);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-personalizado {
    display: flex;
    width: auto;
    height: auto;
  }

  .section-img {
    width: 0px;
    height: 699.76px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.05 ease;
  }

  .section img:hover {
    cursor: crosshair;
    width: 150px;
    opacity: 1;
    filter: contrast(1);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-personalizado {
    width: 100%;
  }

  .section-img {
    width: 33.33%;
    height: auto;
  }
}

@media (min-width: 1024px) {
  .quienesSomos {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: block;
    margin: 10% auto;
    border: auto;
    padding: 7px 0px;
    object-fit: cover;
  }

  .section-personalizado {
    display: flex;
    width: auto;
    height: auto;
  }

  .section-img {
    width: 0px;
    height: 595px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.05 ease;
  }

  .section img:hover {
    cursor: crosshair;
    width: 150px;
    opacity: 1;
    filter: contrast(1);
  }
}
