.tamanioCelda {
  max-width: 2rem;
}

.submenu {
  position: relative;
}
.submenu #carrito {
  display: none;
}

.submenu:hover #carrito {
  display: block;
  position: absolute;
  right: 0;

  top: 100%;
  z-index: 1;
  background-color: rgb(34, 33, 33);
  padding: 20px;
  min-height: 400px;
  min-width: 300px;
}

ul {
  list-style: none;
}

header {
  padding: 0 0 0 0;
  background: white;
  text-align: center;
}

@media all and (max-width: 991px) {
  header {
    text-align: left;
  }
  .submenu:hover #carrito {
    left: 0;
  }
}
