:root {
  --border-color: linear-gradient(
    to right,
    rgb(15, 9, 43) 0%,
    rgb(41, 35, 67) 100%
  );

  --card-color: #f5f5f5;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.bg-main-administracion-juegos {
  background-image: linear-gradient(
    to bottom,
    rgb(2, 2, 2),
    rgb(23, 14, 66),
    rgb(22, 13, 66),
    rgb(15, 9, 43)
   
  );
  
  font-family: Montserrat, sans-serif;
}

.bg-main-administracion-usuarios {
  background-image: linear-gradient(
    to bottom,
    rgb(21, 18, 35),
    rgb(51, 44, 84),
    rgb(41, 35, 67),
    rgb(41, 35, 67),
    rgb(32, 27, 52),
    rgb(15, 9, 43)
   
  );
  
  font-family: Montserrat, sans-serif;
}

.tamanioCelda {
  max-width: 2rem;
}

.color-texto{
  color: rgb(111, 160, 252);
}

nav,
footer {
  background-color: rgb(15, 9, 43);
}
#menu {
  background-color: #212529;
}

.navbar-brand img {
  max-height: 50px;
  margin-right: 40px;
}

.carousel img {
  display: inline-block;
  height: 700px;
  width: auto;
  margin-right: 30px;
}

.card {
  background: var(--border-color);
  padding: 5px;
  border-radius: 16px;
  position: relative;
}

.card img {
  transition: transform 0.3s ease-in-out;
  border-radius: 2%;
}

.card img:hover {
  transform: scale(1.07);
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: auto;
}

.hover-mas-informacion:hover {
  transform: scale(1.07);
}

.full-width {
  width: 100%;
  box-sizing: border-box;
}
.max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

aside ul {
  list-style: none;
  padding: 0;
}

@media all and (min-width: 576px) {
  .h-sm-100 {
    height: 100%;
  }
}

@media all and (max-width: 767px) {
  .d-block {
    width: 20%;
    height: auto;
    object-fit: cover;
  }
  .tituloJuegoDestacado {
    margin-bottom: 0;
  }
  footer ul {
    list-style: none;
    padding: 0;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .tituloJuegoDestacado {
    margin-bottom: 0;
  }
}

@media all and (min-width: 992px) {
  .tituloJuegoDestacado {
    margin-bottom: 0;
  }
}
